body {
    background-color: #F2EFEA;
}

.perfil {
    height: 300px;
    width: 300px;
    position: relative;
    left: 40%;
}

.foto{
    height: 300px;
    width: 300px;
    border-radius: 100%;
    object-fit: cover;
}

.bio{
    display: flex;
    justify-content: center;
}

p{
    font-family: "Special Gothic", sans-serif;
    font-size: 50px;
    font-weight: 400;
    font-style: normal;
    text-align: justify;
    width: 500px;
}

.titulo{
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #FC7753;
    transition: color 0.3s ease;
}

.titulo:hover {
    color: #DBD56E;

}

.botao{
    display: inline-block;
    transform: scale(1.5);
    font-family: "Special Gothic", sans-serif;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    border-radius: 50px;
    background-color: #DBD56E;
    border-style: none;
    padding: 15px;
    color: #F2EFEA;
    position: relative;
    left: 40%;
    margin: 10px 70px 50px 0px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.botao:hover {
    transform: scale(1.9);
    background-color: #FC7753;
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 400;
    font-style: normal;
    box-shadow: 0px 10px 20px #9d8189;
}

a{
    color: #F2EFEA;
    text-decoration: none;
}

footer{
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@media (max-width: 680px){
    .perfil {
        height: 200px;
        width: 200px;
        position: relative;
        left: 40%;
    }
    
    .foto{
        height: 200px;
        width: 200px;
        border-radius: 100%;
        object-fit: cover;
    }

    .bio{
        display: flex;
        justify-content: center;
    }
    
    p{
        font-family: "Special Gothic", sans-serif;
        font-size: 50px;
        font-weight: 400;
        font-style: normal;
        text-align: justify;
        width: 90%;
    }

    .mini-menu{
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 1rem;
        margin-top: 50px;
        align-items: center;
    }

    .botao{
        display: block;
        width: auto;
        
    }
    
}